{% extends "blog/base.html" %}
{% block title %}
    CS Wiki | About
{% endblock title%}
{% block content %}

<div id="contentbox">
    <div id="inner-contentbox">

        <div class="section-header-row row" data-aos="fade-up">
            <div class="col-12">
                <h1>About</h1>
            </div>
        </div>

        <div class="about-row row mt-5" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col col-12 text-center">
                <p class="content">A cyber attack is a malicious and throughout attempt by an individual or organization to breach the 
                    information from a system of another user or organization. Attackers are seeking some kind benefit from the 
                    disruptions of the networks. Jasmine Farahani states “data is becoming more and more insecure as companies 
                    increasingly use software and cloud storage” (et al. p. 32). The cloud is not as secure as a physical hard drive, 
                    so it makes it much easier for attackers to access your personal information as well as company data.</p>
            </div>
        </div>

    </div>
</div>
{% endblock content %}