{% extends "blog/base.html" %}
{% block title %}
    CS Wiki | About
{% endblock title%}
{% block content %}

<div id="contentbox">
    <div id="inner-contentbox">

        <div class="section-header-row row" data-aos="fade-up">
            <div class="col-12">
                <h1>About</h1>
            </div>
        </div>

        <div class="about-row row mt-5" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col col-12 text-center">
                <p class="content">Cybersecurity is the process of protecting systems, networks and programs from 
                    digital threats. These attacks aim to access, change, and destroy sensitive information, extort 
                    money,  or interrupting normal business processes. Unlike IT security, cybersecurity practices from 
                    within the computer. IT security practices from only the user's perspective like asking you to fill 
                    in your password or other firewalls for security.</br></br></p>

                <p class="content">Data privacy is important. It is why people put locks on filing cabinets and open 
                    safety deposit boxes at banks. As more of our data becomes digitized, we share much more information 
                    online than we ever have. Data privacy related to how a piece of information should be handled based 
                    on its relevance and importance to the situation.</br></br></p>

                <p class="content">This generation is often referred to as the “Cloud” generation because everything and 
                    everyone is connected through the internet. We are digitizing things that are valuable to us – 
                    pictures, money, and private information – but this has not stopped criminals from stealing these 
                    valuables. Hackers and scammers are constantly trying to steal people’s sensitive information using 
                    different techniques that most people are not aware of. For these people that own electronic devices 
                    and store their own valuable personal information, it is imperative that they understand how hacking 
                    happens so they can learn how to avoid it.</p>
            </div>
        </div>

    </div>
</div>
{% endblock content %}