{% extends "blog/base.html" %}
{% block title %}
    CS Wiki | About
{% endblock title%}
{% block content %}
    <div id="inner-contentbox">

        <div class="row mb-5" data-aos="fade-up">
            <div class="col-xl-12">
                <h1>How to Protect Against a Cyber-Attack</h1>
            </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-xl-12">
                <p>Loremem ipsum dolor sit amet consectetur adipisicing elit. Labore sit vero ex dolore tempora laboriosam! Vel quas blanditiis ut, doloribus, 
                cumque assumenda totam similique facilis ipsam maxime esse atque voluptates? Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veniam corrupti 
                dolorum accusamus doloremque ipsa rerum tempora aperiam magni unde aliquid, alias similique at totam, ipsam impedit. Hic, magni unde. Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit. Sapiente autem ratione harum tenetur, quasi obcaecati, quibusdam aliquam dolores dicta vel adipisci ullam perspiciatis molestiae labore 
                fugiat minus officia aperiam beatae!</p>
            </div>
        </div>

    </div>
{% endblock content %}