{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div id="contentbox" style="background-image: none;">

    <img class="article-img" src="{{ post.image.url }}">

    <div id="inner-contentbox">
        
        <div data-aos="fade-up">
            <div class="section-header-row row">
                <div class="article-header-col col-12 text-center">
                    {% if object.author == user %}
                        <div class="update-delete">
                            <a class="btn btn-outline-secondary mr-2" href="{% url 'post-update' object.id %}">Update</a>
                            <a class="btn btn-outline-danger" href="{% url 'post-delete' object.id %}">Delete</a>
                        </div>
                    {% endif %}
                    <h1>{{ object.title }}</h1>
                    <h2><a href="{% url 'user-posts' object.author.username %}">{{ post.author.first_name }} {{ post.author.last_name }}</a> on {{ object.date_posted|date:"F j, Y" }}</h2>
                </div>
            </div>

            
            <div class="row">
                <div class="article-content-col col-12">
                    <p>{{ object.content|linebreaks }}</p>
                    {% if object.citation %}
                    <h1>References:</h1>
                    <h2>{{ object.citation|linebreaks }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row" style="height: 50px;">
            <div class="col-12"></div>
        </div>

    </div>

</div>
{% endblock content %}