{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    CS Wiki | Create Post
{% endblock title%}
{% block content %}

<div id="contentbox">
    <div id="inner-contentbox">
        <legend class="text-center" data-aos="fade-up">Create Article</legend>
        <form enctype='multipart/form-data' method="POST" data-aos="fade-up" data-aos-delay="100">
            {% csrf_token %}
            <fieldset>
                {{ form|crispy }}
            </fieldset>
            <div class="text-center">
                <button class="btn btn-outline-success" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}