{% extends "blog/base.html" %}
{% block title %}
    CS Wiki | Team
{% endblock title%}
{% block content %}

<div id="contentbox">
    <div id="inner-contentbox">
        
        <div class="section-header-row row" data-aos="fade-up">
            <div class="col-12">
                <h1>Our Team</h1>
            </div>
        </div>
        
        <div class="row team-row mt-5" data-aos="fade-up" data-aos-delay="100">
            {% for user in users %}
                <div class="team-col col-4"> 
                    <div class="team-box text-center">
                        <img src="{{ user.profile.image.url }}">
                        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                        <h3>{{ user.username }}</h3>
                        <a href="{% url 'user-posts' user.username %}">Posts</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>
</div>

{% endblock content %}