{% extends "blog/base.html" %}
{% block title %}
    CS Wiki | Log Out
{% endblock title%}
{% block content %}

    <div id="inner-contentbox" style="padding-top: 0;">
        <div class="alert alert-info text-center" data-aos="slide-down">
            You have been logged out.
        </div>
        <div class="text-center" data-aos="fade-in" data-aos-delay="300">
            <a class="btn btn-outline-info mt-5" href="{% url 'login' %}">Log In Again</a>
        </div>
    </div>
    
{% endblock content %}