{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    CS Wiki | Password Reset
{% endblock title%}
{% block content %}

<div id="contentbox">
    <div id="inner-contentbox">
        <form method="POST">
            {% csrf_token %}
            <legend class="text-center mb-4" data-aos="fade-up">Reset Password</legend>
            <div data-aos="fade-up" data-aos-delay="100">
                <fieldset id="signup-fieldset">
                    {{ form|crispy }}
                </fieldset>
            </div>
            <div class="text-center mt-2" data-aos="fade-up" data-aos-delay="200">
                <button class="btn btn-outline-dark" type="submit">Request</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}