{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
CS Wiki | Register
{% endblock title%}
{% block content %}

<div id="contentbox">
    <div id="inner-contentbox">
        <legend class="text-center mb-4" data-aos="fade-up">Register</legend>
        <form method="POST" data-aos="fade-up" data-aos-delay="100">
            {% csrf_token %}
            <fieldset id="signup-fieldset">
                {{ form|crispy }}
            </fieldset>
            <div class="text-center mt-2">
                <button class="btn btn-outline-dark" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}